{% extends 'base.html'%} 
{% block content %}

<h3 class="page-title">Edit Recipe</h3>

<div class="row">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12 edit_recipe_form recipe-form">
        <div id="editForm" class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">title</i>
                <input id="name_of_recipe" name="name_of_recipe" type="text" class="validate" value="{{recipe.recipe_name}}" required />
                <label for="icon_prefix">Recipe Name</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input id="author" name="author" type="text" class="validate" value="{{recipe.author}}" required/>
                <label for="icon_prefix">Author Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m4">
                <i class="material-icons prefix">filter_drama</i>
                <select id="season" name="season" class="validate" required>
                  <option value="Choose Season" disabled selected>Choose Season</option>
                  {% for season in seasons %}
                      {% if season.season == recipe.season %}
                         <option value="{{season.season}}" selected >{{season.season}}</option>
                      {% else %}
                    <option value="{{season.season}}">{{season.season}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
            </div>
            <div class="input-field col s12 m4">
                <i class="material-icons prefix">restaurant</i>
                <select name="type" required>
                    <option value="Type" disabled selected>Type</option>
                    {% for type in types %}
                        {% if type.type == recipe.type %}
                         <option value="{{type.type}}" selected >{{type.type}}</option>
                        {% else %}
                        <option value="{{type.type}}">{{type.type}}</option>
                        {% endif %}
                    {% endfor %}}
                </select>
            </div>
            <div class="input-field col s12 m4">
                <i class="material-icons prefix">play_arrow</i>
                <select name="difficulty" required>
                    <option value="Difficulty" disabled selected>Difficulty</option>
                    {% for difficulty in difficulties %}
                        {% if difficulty.difficulty == recipe.difficulty %}
                         <option value="{{difficulty.difficulty}}" selected >{{difficulty.difficulty}}</option>
                        {% else %}
                        <option value="{{difficulty.difficulty}}">{{difficulty.difficulty}}</option>
                        {% endif %}
                    {% endfor %}}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m4">
                <i class="material-icons prefix">schedule</i>
                <input id="prep_time" name="prep_time" type="number" min="1" class="validate" value="{{recipe.prep_time}}" required />
                <label for="icon_prefix">Preparation time (minutes)</label>
            </div>
            <div class="input-field col s12 m4">
                <i class="material-icons prefix">people_outline</i>
                <input id="serves" name="serves" type="number" min="1" class="validate" value="{{recipe.serves}}" required/>
                <label for="icon_prefix">Serves</label>
            </div>
            <div class="input-field col s12 m4">
                <i class="material-icons prefix">thumbs_up_down</i>
                <input id="rating" name="rating" type="number" min="1" max="5" class="validate" value="{{recipe.rating}}" required />
                <label for="icon_prefix">Rating</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">camera_alt</i>
                <input id="image_url" name="image_url" type="url" class="validate" placeholder="https://example.jpg" value="{{recipe.image_url}}" required />
                <label for="icon_prefix">Image URL</label>
            </div> 
        </div>
        <div class="row">
            <div class="input-field ingredient_div col s12">
                <i class="material-icons prefix">local_grocery_store</i>
                {% for ingredient in recipe.ingredients %}
                <input type="text" name="ingredients" class="validate" value="{{ingredient}}" required />
                <label for="icon_prefix">Ingredient</label>
                {% endfor %}
            </div>
            <a href="javascript:void(0);" class="add_button validate"><i class="material-icons prefix">add</i>Add ingredient</a>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">import_contacts</i>
              <textarea id="method" name="method" class="materialize-textarea">{{recipe.method}}</textarea>
              <label for="method">Method</label>
            </div>
        </div>
        <div class="row">
     
            <button class="btn waves-effect waves-light form-button" type="submit" name="action">Save Recipe
                <i class="material-icons right">save</i>
                </button>
            <input class="btn waves-effect waves-light form-button" type="button" name="cancel" value="cancel" onClick="window.location.href='{{url_for('get_recipes')}}';" />

        </div>
    </form>
</div>

{% endblock %}